h1{
	color: red;

}
h2 { 
color: white;
background:green;
padding: 5px 5px ;
 }
 span { 
color: red;
  }

 .new{
  	color: white;
  	background: blue;
  	width: 100px;
  	margin-bottom: 90px;
  }
h2.new {
 background:green;
}

.block {
	font-size: 16px;
	background:green;
	padding: 20px 10px 20px 30px;
	margin-top: 0px;
	border: 5px solid green;
}
p.list {
padding: 10px 30px 10px 70px;
}

ul {

	font-size: 25px;

}